<ng-container *ngIf="!show_results">
  <div class="container">
    <h1 class="text-uppercase">
      <strong>Search for all cocktails and meals that have any number of common ingredients</strong>
    </h1>
    <label>*the search will return all pairs of cocktail and meal that satisfy the requirement</label>
  </div>
  <div class="custom-range form-group col-lg-6 offset-3 pt-4">
    <input type="number" class="form-control text-center" placeholder="number of common ingredients"
           [(ngModel)]="common_ingredients">
  </div>
  <div class="row pt-4">
    <div class="col-1 offset-5">
      <button class="btn btn-dark btn-xl js-scroll-trigger" (click)="onBack()">Back</button>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-dark btn-xl js-scroll-trigger" (click)="onSearch()">Search</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="show_results">
  <app-search-results [results]="results"></app-search-results>
  <div class="col-2 offset-5">
    <button class="btn btn-dark btn-xl js-scroll-trigger" (click)="show_results=false">Back</button>
  </div>
</ng-container>
