<div class="container">
  <div class="container pl-5 pr-5 pb-2">
    <div class="row">
      <label><b>The meal name is:</b> {{ meal?.meal_name }}</label>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <label><b>The meal instructions</b></label><br>
        </div>
        <div class="row">
          <p>
            {{ meal?.instructions }}
          </p>
        </div>
        <div class="row">
          <label><b>The meal ingredients</b></label>
        </div>
        <div class="row" *ngFor="let ingredient of (meal?.ingredients); let i=index;">
          <ng-container *ngIf="ingredient">
            <a [routerLink]="['/ingredient', ingredient]">{{ ingredient }}</a>{{ " -  " + meal.measures[i] }}
          </ng-container>
        </div>
        <div class="row">
          <a [href]="meal?.youtube_link">Youtube video</a>
        </div>
      </div>
      <div class="col-lg-6">
        <img [src]="meal?.img_link" class="img-fluid figure-img">
      </div>
    </div>
  </div>
</div>
