<ng-container *ngIf="!show_results">
  <div class="container">
    <h1 class="text-uppercase">
      <strong>Search for meals and drinks by calories range</strong>
    </h1>
    <label>*the calories are calculated on the combination of both</label>
  </div>
  <div class="custom-range form-group col-lg-6 offset-3 pt-4">
    <input type="number" class="form-control text-center" placeholder="From" [(ngModel)]="range_from">
    <input type="number" class="form-control text-center" placeholder="To" [(ngModel)]="range_to">
    <div class="btn-group pt-2" id="status" data-toggle="buttons">
      <label for="non" class="btn btn-default btn-off btn-xs " (click)="onChangeType('non')">
        <input id="non" type="radio" value="0" name="filter_type">Non-Alcoholic
      </label>
      <label for="alcoholic" class="btn btn-default btn-off btn-xs pt-2" (click)="onChangeType('alcoholic')">
        <input id="alcoholic" type="radio" value="1" name="filter_type">Alcoholic
      </label>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-1 offset-5">
      <button class="btn btn-dark btn-xl js-scroll-trigger" (click)="onBack()">Back</button>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-dark btn-xl js-scroll-trigger" (click)="onSearch()">Search</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="show_results">
  <app-search-results [results]="results"></app-search-results>
  <div class="col-2 offset-5">
    <button class="btn btn-dark btn-xl js-scroll-trigger" (click)="show_results=false">Back to search</button>
  </div>
</ng-container>
